/* https://br.freepik.com/vetores-premium/painel-de-interface-de-usuario-azul-futurista-hud-exibe-alvo-de-tela-de-tecnologia-de-realidade-virtual_29215952.htm#from_view=detail_alsolike */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.light {
  background: #fdfdfd50;
}


.dark {
  background: #00000095;
}

.border-dark {
  border-top: 2px inset orange;
  border-radius: 10px;
}

.border-light {
  background: linear-gradient(#828282, #ffffff) padding-box, linear-gradient(to bottom, #01ecf3, #01ecf320, #01ecf350, #01ecf3, #01ecf350, #01ecf320, #01ecf3) border-box;
  border: 2px solid transparent;
  border-radius: 10px;
}

.infos {
  background-image: url('./toright.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.skills {
  background-image: url('./toleft.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

/* .infos-box-center {
  display: flex;
  flex-direction: column;
}

.infos-box-center-up {
	justify-content: center;
	align-items: center;
	color: #10a87d;
  display: flex;
} */



h4 {
  color: orange;
  /* color: #10a87d; */
  background-color: gray;
}

@media screen and (max-width: 480px) {
  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2000px;
    justify-content: space-around;
    padding: 10px 0 0 0;
  }
  .skills {
    display: flex;
    width: 100%;
    height: 2000px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0 0 0;
  }
  .infos-box-center {
    order: 1;
    width: 95%;
    height: 98vh;
    justify-content: space-between;
    align-items: center;
  }
  .infos-box-center-up {
    width: 100%;
    height: 40%;
  }
  .infos-box-center-down {
    width: 100%;
    height: 59%;
  }
  .infos-box-left {
    order: 2;
    width: 95%;
    height: 98vh;
    margin-top: 5px;
  }
  .infos-box-right {
    order: 3;
    width: 95%;
    height: 98vh;
    margin-top: 5px;
  }
  .skills-box {
    width: 95%;
    height: 98vh;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .infos {
    flex-direction: column;
    align-items: center;
  }
  .infos-box-center {
    order: 1;
    width: 95%;
    /* background-color: red; */
    height: 960px;
    gap: 10px;
  }
  .infos-box-center-up {
    order: 1;
    width: 100%;
    height: 400px;
    /* background-color: green; */
  }
  .infos-box-center-down {
    order: 1;
    width: 100%;
    height: 550px;
    /* background-color: yellow; */
  }
  .infos-box-left {
    order: 2;
    width: 95%;
    margin-top: 5px;
  }
  .infos-box-right {
    order: 3;
    width: 95%;
    margin-top: 5px;
  }
  .skills-box {
    width: 95%;
  }
}

/* @media screen and (min-width: 769px) and (max-width: 1024px) {
  .infos {
    flex-direction: column;
    align-items: center;
  }
  .infos-box-center {
    order: 1;
    width: 95%;
    background-color: red;
    gap: 10px;
  }
  .infos-box-center-up {
    order: 1;
    width: 100%;
    height: 350px;
    background-color: green;
  }
  .infos-box-center-down {
    order: 1;
    width: 100%;
    height: 500px;
    background-color: yellow;
  }
  .infos-box-left {
    order: 2;
    width: 95%;
    margin-top: 5px;
  }
  .infos-box-right {
    order: 3;
    width: 95%;
    margin-top: 5px;
  }
  .skills-box {
    width: 95%;
  }
} */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  
}

@media screen and (min-width: 1201px) {
  
}