body {
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 99.8%;
  height: 99.7vh;
  border: 1px solid #fff;
  overflow: hidden;
}

.light:nth-child(1) {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveToBottom 3s linear infinite;
}

.light:nth-child(2) {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveToTop 3s linear infinite;
}

.light:nth-child(3) {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveToRight 3s linear infinite; /* Definindo a animação */
}

.light:nth-child(4) {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveToLeft 3s linear infinite; /* Definindo a animação */
}

.main {
  width:330px;
  height:330px;
  position:absolute;
  top:0; bottom:0; left:0;right:0;
  margin:auto;
  border: 1px solid #fff;
  border-radius:50%; 
}

.circle:nth-child(1) {
  width: 50px;
  height: 50px;
  background:cyan;
  border-radius: 50%;
  position:absolute;
  top:0; bottom:0; left:0;right:0;
  overflow:hidden;
  margin:auto;
  animation: circle 3s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:nth-child(2) {
  width: 50px;
  height: 50px;
  background: purple;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle2 3s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:nth-child(3) {
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle3 3s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:nth-child(4) {
  width: 50px;
  height: 50px;
  background: rgb(4, 128, 0);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle4 3s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes circle {
  0%{
    transform:rotate(60deg)
              translate(-165px)
              rotate(60deg);
  }
  50%{
    transform:rotate(360deg)
              translate(-165px)
              rotate(-360deg);
  }
  100%{
    transform:rotate(60deg)
              translate(-165px)
              rotate(-60deg);
  }
}

@keyframes circle2 {
  0%{
    transform:rotate(40deg)
              translate(-165px)
              rotate(40deg);
  }
  50%{
    transform:rotate(340deg)
              translate(-165px)
              rotate(-340deg);
  }
  100%{
    transform:rotate(40deg)
              translate(-165px)
              rotate(40deg);
  }
}

@keyframes circle3 {
  0%{
    transform:rotate(20deg)
              translate(-165px)
              rotate(20deg);
  }
  50%{
    transform:rotate(320deg)
              translate(-165px)
              rotate(-320deg);
  }
  100%{
    transform:rotate(20deg)
              translate(-165px)
              rotate(20deg);
  }
}

@keyframes circle4 {
  0%{
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
  }
  50%{
    transform:rotate(300deg)
              translate(-165px)
              rotate(-300deg);
  }
  100%{
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
  }
}

@keyframes moveToBottom {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 92%;
    left: 0%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes moveToTop {
  0% {
    top: 92%;
    left: 95%;
  }
  50% {
    top: 0;
    left: 95%;
  }
  100% {
    top: 92%;
    left: 95%;
  }
}

@keyframes moveToRight {
  0% {
    top: 92%;
    left: 0%;
  }
  50% {
    top: 92%;
    left: 95%;
  }
  100% {
    top: 92%;
    left: 00%;
  }
}

@keyframes moveToLeft {
  0% {
    top: 0%;
    left: 95%;
  }
  50% {
    top: 0%;
    left: 0%;
  }
  100% {
    top: 0%;
    left: 95%;
  }
}